---

- name: Give sudo access to octt
  copy:
    content="# Give root privs to octt\noctt  ALL=(ALL) NOPASSWD:ALL"
    dest="/etc/sudoers.d/octt"
    owner=root
    group=root
    mode="0600"

- name: Create /etc/hosts
  template:
    src="hosts.j2"
    dest="/tmp/hosts"
    owner=root
    group=root
    mode="0644"

- name: Display OCTT vars
  debug:
    msg="{{ octt_facts }}"